:root {
    --ct--editorial: #45abe9;
    --ct--q1goals: #9c72e4;
    --ct--recluting: #64c0a9;
    --ct--mobile: #f29e33;
    --ct--website: #d863a0;
    --ct--sales: #b0c926;
    --ct--litegrey: #e8e9ea;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start header */
.header_site {
    height: 5rem;
    background-color: white;

}

.in-block {
    display: inline-block;
}

#logo {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

#company_name {
    font-size: 4rem;
    font-weight: bold;
}


/* Start Body */
body {
    background-color: var(--ct--litegrey);
    width: 60vw;
    margin: auto;
}

.container_button {
    background-color: white;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.button_propriety {
    margin-left: 5rem;

}

.bt_add {
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin: 2px;

}

#bt_colored {
    background-color: var(--ct--editorial);
    color: white;
    border: 0px;
}

#bt_uncolored {
    background-color: white;
    color: grey;
    border: 1px solid grey;
}