:root {
    --ct--editorial: #45abe9;
    --ct--q1goals: #9c72e4;
    --ct--recluting: #64c0a9;
    --ct--mobile: #f29e33;
    --ct--website: #d863a0;
    --ct--sales: #b0c926;
    --ct--litegrey: #e8e9ea;
    --ct--checkgreen: #6ec5b0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start header */
.header_site {
    height: 5rem;
    background-color: white;
    margin-bottom: 3rem;

}

.in-block {
    display: inline-block;
}

#logo {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

#company_name {
    font-size: 4rem;
    font-weight: bold;
    margin-left: 1rem;
    font-family: "Roboto", serif;
}


/* Start Body */
body {
    background-color: var(--ct--litegrey);
}

main {
    width: 60vw;
    margin: auto;
}

.container_button {
    background-color: white;
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 10px;
}

.main_container {
    background-color: white;
    margin-bottom: 3px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.layout_propriety {
    margin-left: 5rem;


}

.bt_add {
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin: 2px;

}

#bt_colored {
    background-color: var(--ct--editorial);
    color: white;
    border: 0px;
}

#bt_uncolored {
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

/*End of the space dedicated to the buttons, beginning of the central part*/
.name_title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.task_propriety {
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.obj_container {
    font-size: 2rem;
}

.status_positive {
    width: 35px;
    height: 35px;
    color: var(--ct--checkgreen);
    border: 2px solid var(--ct--checkgreen);
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 1.5rem;

}

.status_negative {
    width: 35px;
    height: 35px;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 1.5rem;
}

.obj_type {

    border-radius: 10px;
    padding: 2px 20px;
    font-size: 1rem;
    color: white
}

.obj_name {
    margin-bottom: 30px;
}

.editorial {
    background-color: var(--ct--editorial);
}

.q1goals {
    background-color: var(--ct--q1goals);
}

.recluting {
    background-color: var(--ct--recluting);
}

.mobile {
    background-color: var(--ct--mobile);
}

.website {
    background-color: var(--ct--website);
}

.sales {
    background-color: var(--ct--sales);
}